<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title><strong>Añadir un ejercicio</strong></mat-card-title>
    <mat-card-content>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Nombre del ejercicio</mat-label>
          <input matInput [(ngModel)]="exercise.name">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Descripción corta</mat-label>
          <input matInput [(ngModel)]="exercise.short_description">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field class="text-input">
          <mat-label>Descripción larga</mat-label>
          <textarea matInput [(ngModel)]="exercise.long_description"></textarea>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Posición inicial</mat-label>
          <input matInput [(ngModel)]="exercise.initial_position">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="exercise.category">
            <mat-option value="Abductores">Abductores</mat-option>
            <mat-option value="Abdominales">Abdominales</mat-option>
            <mat-option value="Aductores">Aductores</mat-option>
            <mat-option value="Bicep">Bicep</mat-option>
            <mat-option value="Brazos">Brazos</mat-option>
            <mat-option value="Cardio">Cardio</mat-option>
            <mat-option value="Cuerpo completo">Cuerpo completo</mat-option>          
            <mat-option value="Dorsales">Dorsales</mat-option>
            <mat-option value="Gemelos">Gemelos</mat-option>
            <mat-option value="Gluteos">Gluteos</mat-option>
            <mat-option value="Hombros">Hombros</mat-option>
            <mat-option value="Isquiotibiales">Isquiotibiales</mat-option>
            <mat-option value="Lumbares">Lumbares</mat-option>
            <mat-option value="Pecho">Pecho</mat-option>
            <mat-option value="Piernas">Piernas</mat-option>
            <mat-option value="Cuádriceps">Cuádriceps</mat-option>
            <mat-option value="Trapecio">Trapecio</mat-option>
            <mat-option value="Triceps">Triceps</mat-option>       
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>¿Equipamiento necesario?</mat-label>
          <mat-select [(ngModel)]="exercise.equipment_needed">
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card class="inputFileCard">
        <mat-card-header> 
          <mat-card-title> Seleccionar la imágen del ejercicio: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <input class="inputFile" type="file" (change)="onFile($event)">
        </mat-card-content>
      </mat-card>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="createExercise()">Añadir</button>
      <button class="button" mat-raised-button color="warn" (click)="out()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>
