<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form" [formGroup]="signUpUserForm">
  <mat-card class="card">
    <mat-card-title>Registrarse</mat-card-title>
    <mat-card-content>
      <div class="container">
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="first_name">
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="last_name">
          </mat-form-field>
        </div>

        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Nombre de usuario</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="phone_number">
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Genero</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="Mujer">Mujer</mat-option>
              <mat-option value="Hombre">Hombre</mat-option>
              <mat-option value="No binario">No binario</mat-option>
              <mat-option value="Otro">Otro</mat-option>
              <mat-option value="Prefiero no decirlo">Prefiero no decirlo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birthdate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Tipo de usuario</mat-label>
          <mat-select formControlName="role">
            <mat-option value="Deportista">Deportista</mat-option>
            <mat-option value="Entrenador">Entrenador</mat-option>
            <mat-option value="Dueño de gimnasio">Dueño de gimnasio</mat-option>
          </mat-select>
        </mat-form-field> 
        <mat-checkbox [formGroup]="signUpUserForm" class="example-margin" formControlName="acceptTerms">Aceptar términos y condiciones</mat-checkbox>      
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="signUp()">Registrarse</button>
    </mat-card-actions>

    <mat-card-content *ngIf="signUpUserForm?.invalid && signUpUserForm?.touched">
      <div class="error-message" *ngIf="signUpUserForm?.get('first_name')?.invalid && signUpUserForm?.get('first_name')?.touched">
        Nombre es requerido.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('last_name')?.invalid && signUpUserForm?.get('last_name')?.touched">
        Apellido es requerido.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('username')?.invalid && signUpUserForm?.get('username')?.touched">
        Nombre de usuario es requerido.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('phone_number')?.invalid && signUpUserForm?.get('phone_number')?.touched">
        Teléfono es requerido.
      </div>

      <div class="error-message" *ngIf="signUpUserForm?.get('email')?.invalid && signUpUserForm?.get('email')?.touched">
        <div *ngIf="signUpUserForm?.get('email')?.hasError('required')">
          Correo electrónico es requerido.
        </div>
        <div *ngIf="signUpUserForm?.get('email')?.hasError('email')">
          Correo electrónico no válido.
        </div>
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('password')?.invalid && signUpUserForm?.get('password')?.touched">
        Contraseña es requerida.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('confirmPassword')?.invalid && signUpUserForm?.get('confirmPassword')?.touched">
        Confirmar contraseña es requerida.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.hasError('passwordsNotMatch') && signUpUserForm?.get('confirmPassword')?.dirty">
        Las contraseñas no coinciden.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('gender')?.invalid && signUpUserForm?.get('gender')?.touched">
        Género es requerido.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('birthdate')?.invalid && signUpUserForm?.get('birthdate')?.touched">
        Fecha de nacimiento es requerida.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('role')?.invalid && signUpUserForm?.get('role')?.touched">
        Tipo de usuario es requerido.
      </div>
      <div class="error-message" *ngIf="signUpUserForm?.get('acceptTerms')?.invalid && signUpUserForm?.get('acceptTerms')?.touched">
        Debes aceptar los términos y condiciones.
      </div>
    </mat-card-content>
    <mat-card-content>
      <p>¿Ya tienes una cuenta? <a routerLink="/sign-in">Inicia sesión</a></p>
    </mat-card-content>
  </mat-card>
</div>
