
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; height: 50vh;">
  <img src="assets/images/home-log-out.jpg" class="background-img" style="opacity: 0.3">
    <div style="margin: 0 100px;"> 
      <h2 style="text-align: center;">
        Pre-Workout: “Para gente que entrena” es una plataforma digital que permite resolver dudas sobre la realización de actividad física +
        y dar soporte a los entrenadores y dueños de gimnasio, ofreciendo datos y herramientas. El principal reto estratégico es que más gente realice ejercicio y lleve una rutina saludable. 
        Los objetivos para esto es que los usuarios tengan buenas rutinas musculares,reciban recomendaciones sobre consejos sobre ejercicios y nutrición, 
        y que la comunidad pueda usar herramientas para conseguir información y comunicarse. 
      </h2>
    </div>
    <div style="margin-top: 100px;  display: flex; flex-direction: column; align-items: center ">
    <button style="margin-bottom: 10px;"  mat-raised-button color="accent" onclick="window.location.href = '/sign-in'">Iniciar Sesión</button>
    <button style="margin-top: 10px;"  mat-raised-button color="accent" onclick="window.location.href = '/sign-up'">Registrarse</button>
    </div>
</div>

