<!-- <img src="assets/images/brazos.jpg" alt="Rutina de brazos">
<img src="../../../../assets/images/brazos.jpg" alt="Rutina de brazos">
<img src="@/../assets/images/brazos.jpg" alt="Rutina de brazos"> -->

<div id="carouselRoutine" class="carousel carousel-dark slide carousel-custom-size">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselRoutine" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselRoutine" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselRoutine" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="assets/images/brazos.jpg" class="d-block w-100 carousel-custom-size" alt="Rutina de brazos">
      <div class="carousel-caption d-none d-md-block">
        <h5>Rutina: Brazos</h5>
        <p>Acceda para ver su rutina personalizada</p>
      </div>
      <div class="carousel-caption d-md-none">
        <h5>Rutina: Brazos</h5>
        <p>Acceda para ver su rutina personalizada</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/images/brazos2.jpg" class="d-block w-100 carousel-custom-size" alt="Rutina de brazos">
      <div class="carousel-caption d-none d-md-block">
        <h5>Rutina: Brazos 2</h5>
        <p>Acceda para ver su rutina personalizada</p>
      </div>
      <div class="carousel-caption d-md-none">
        <h5>Rutina: Brazos 2</h5>
        <p>Acceda para ver su rutina personalizada</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/piernas2.jpg" class="d-block w-100 carousel-custom-size" alt="Rutina de piernas">
      <div class="carousel-caption d-none d-md-block">
        <h5>Rutina: Piernas</h5>
        <p>Acceda para ver su rutina personalizada</p>
      </div>
      <div class="carousel-caption d-md-none">
        <h5>Rutina: Piernas</h5>
        <p>Acceda para ver su rutina personalizada</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoutine" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselRoutine" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>