<div id="carouselRoutine" class="carousel carousel-dark slide carousel-custom-size">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselRoutine" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselRoutine" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselRoutine" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <a href='/routines/{{ show_routines[0].name }}'>
      <div class="carousel-item active" data-bs-interval="10000">
        <img [src]="show_routines[0].picture" class="d-block w-100 carousel-custom-size" alt="Rutina personalizada">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ show_routines[0].name }}</h5>
          <p>Acceda para ver esta rutina personalizada</p>
        </div>
        <div class="carousel-caption d-md-none">
          <h5>{{ show_routines[0].name }}</h5>
          <p>Acceda para ver esta rutina personalizada</p>
        </div>
      </div>
    </a>
    <a href='/routines/{{ show_routines[1].name }}'>
      <div class="carousel-item" data-bs-interval="2000">
        <img [src]="show_routines[1].picture" class="d-block w-100 carousel-custom-size" alt="Rutina personalizada">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ show_routines[1].name }}</h5>
          <p>Acceda para ver esta rutina personalizada</p>
        </div>
        <div class="carousel-caption d-md-none">
          <h5>{{ show_routines[1].name }}</h5>
          <p>Acceda para ver esta rutina personalizada</p>
        </div>
      </div>
    </a>
    <a href='/routines/{{ show_routines[2].name }}'>
      <div class="carousel-item">
        <img [src]="show_routines[2].picture" class="d-block w-100 carousel-custom-size" alt="Rutina personalizada">
        <div class="carousel-caption d-none d-md-block">
          <h5>{{ show_routines[2].name }}</h5>
          <p>Acceda para ver esta rutina personalizada</p>
        </div>
        <div class="carousel-caption d-md-none">
          <h5>{{ show_routines[2].name }}</h5>
          <p>Acceda para ver esta rutina personalizada</p>
        </div>
      </div>
    </a>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselRoutine" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselRoutine" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<h3>Contacta con nuestros asesores</h3>
<div class="row circulos">
  <div class="col-lg-4 unidades">
    <svg class="bd-placeholder-img rounded-circle circle" width="140" height="140" role="img" style="background-image: url('{{show_trainers[0].picture}}')"></svg>
    <h2 class="fw-normal namee">{{ show_trainers[0].first_name | uppercase }} {{ show_trainers[0].last_name | uppercase }} </h2>
    <p class="username"> {{ show_trainers[0].username }} </p>
    <p> <i class="fa-solid fa-envelope fa-lg" style="color: #000000;"></i> {{ show_trainers[0].email }} </p>
    <p> <i class="fa-solid fa-phone fa-lg" style="color: #000000;"></i> {{ show_trainers[0].phone_number }} </p>
    <p><button mat-raised-button class="button" color="accent" (click)="openSnackBar()">Contactar</button></p>
  </div>
  <div class="col-lg-4 unidades">
    <svg class="bd-placeholder-img rounded-circle circle" width="140" height="140" role="img" style="background-image: url('{{show_trainers[1].picture}}')"> </svg>
    <h2 class="fw-normal namee">{{ show_trainers[1].first_name | uppercase }} {{ show_trainers[1].last_name | uppercase }}</h2>
    <p class="username"> {{ show_trainers[1].username }} </p>
    <p> <i class="fa-solid fa-envelope fa-lg" style="color: #000000;"></i> {{ show_trainers[1].email }} </p>
    <p> <i class="fa-solid fa-phone fa-lg" style="color: #000000;"></i> {{ show_trainers[1].phone_number }} </p>
    <p><button mat-raised-button class="button" color="accent" (click)="openSnackBar()">Contactar</button></p>
  </div>
  <div class="col-lg-4 unidades">
    <svg class="bd-placeholder-img rounded-circle circle" width="140" height="140" role="img" style="background-image: url('{{show_trainers[2].picture}}')"> </svg>
    <h2 class="fw-normal namee">{{ show_trainers[2].first_name | uppercase }} {{ show_trainers[2].last_name | uppercase }}</h2>
    <p class="username"> {{ show_trainers[2].username }} </p>
    <p> <i class="fa-solid fa-envelope fa-lg" style="color: #000000;"></i> {{ show_trainers[2].email }} </p>
    <p> <i class="fa-solid fa-phone fa-lg" style="color: #000000;"></i> {{ show_trainers[2].phone_number }} </p>
    <p><button mat-raised-button class="button" color="accent" (click)="openSnackBar()">Contactar</button></p>
  </div>
</div>
