<img src="/front-end/src/public/brazos.jpg" alt="Rutina de brazos">

<!-- <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/front-end/src/public/brazos.jpg" class="d-block w-100" alt="Rutina de brazos">
    </div>
    <div class="carousel-item">
      <img src="/front-end/src/public/brazos3.jpg" class="d-block w-100" alt="Rutina de brazos">
    </div>
    <div class="carousel-item">
      <img src="/front-end/src/public/piernas.jpg" class="d-block w-100" alt="Rutina de piernas">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->
