
<img src="assets/images/home-log-out.jpg" class="background-img">
<div>    
  <img src="assets/images/brazos2.jpg" class="imga">
</div>
<div>
  <div class="text">
      <h3 class="text2">  
      Granos: La base de la pirámide alimenticia son los granos, que incluyen panes, cereales, arroz y pasta. Se recomienda consumir entre 6 y 11 porciones diarias, dependiendo de la edad, sexo y nivel de actividad física.
      </h3>
      <h3 class="text2">
      Vegetales: En el segundo nivel se encuentran las verduras y hortalizas, que se recomienda consumir entre 3 y 5 porciones diarias. Estos alimentos son ricos en vitaminas, minerales y fibra, y pueden ser consumidos crudos, cocidos o en forma de jugos.
      </h3 >
      <h3 class="text2">
      Frutas: En el tercer nivel se encuentran las frutas, que también se recomienda consumir entre 2 y 4 porciones diarias. Las frutas son una excelente fuente de vitaminas, minerales y fibra, y pueden ser consumidas frescas, congeladas, enlatadas o secas.
      </h3>
      <h3 class="text2">
      Lácteos: En el cuarto nivel se encuentran los productos lácteos, como la leche, el yogur y el queso. Se recomienda consumir entre 2 y 3 porciones diarias. Estos alimentos son una excelente fuente de calcio y otros nutrientes importantes para la salud ósea.
      </h3>
      <h3 class="text2">
      Proteínas: En el quinto nivel se encuentran las proteínas, que incluyen carnes, pescados, aves, huevos, frijoles, nueces y semillas. Se recomienda consumir entre 2 y 3 porciones diarias, preferiblemente carnes magras y pescados.
      </h3>
      <h3 class="text2">
      Grasas y aceites: En el último nivel se encuentran las grasas y aceites, que incluyen mantequilla, margarina, aceites de cocina y aderezos para ensaladas. Estos alimentos deben ser consumidos con moderación, ya que son ricos en calorías y grasas saturadas.
      </h3> 
  </div>
</div>