<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>
<div>
  <img mat-card-image src="assets/images/piramide-realista.png" class="imga">
</div> 
<div class="container">
  <div class="details">
    <details class="text-container"> 
      <summary>Granos</summary> 
      <p>La base de la pirámide alimenticia son los granos, que incluyen panes, cereales, arroz y pasta. Se recomienda consumir entre 6 y 11 porciones diarias, dependiendo de la edad, sexo y nivel de actividad física.</p>
    </details>
    <details class="text-container">
      <summary>Vegetales</summary>
      <p>En el segundo nivel se encuentran las verduras y hortalizas, que se recomienda consumir entre 3 y 5 porciones diarias. Estos alimentos son ricos en vitaminas, minerales y fibra, y pueden ser consumidos crudos, cocidos o en forma de jugos.</p>
    </details>
    <details class="text-container">
      <summary>Frutas</summary>
      <p>En el tercer nivel se encuentran las frutas, que también se recomienda consumir entre 2 y 4 porciones diarias. Las frutas son una excelente fuente de vitaminas, minerales y fibra, y pueden ser consumidas frescas, congeladas, enlatadas o secas.</p>
    </details>
    <details class="text-container">
      <summary>Lacteos</summary>
      <p>En el cuarto nivel se encuentran los productos lácteos, como la leche, el yogur y el queso. Se recomienda consumir entre 2 y 3 porciones diarias. Estos alimentos son una excelente fuente de calcio y otros nutrientes importantes para la salud ósea.</p>
    </details>
    <details class="text-container">
      <summary>Proteinas</summary>
      <p>En el quinto nivel se encuentran las proteínas, que incluyen carnes, pescados, aves, huevos, frijoles, nueces y semillas. Se recomienda consumir entre 2 y 3 porciones diarias, preferiblemente carnes magras y pescados.</p>
    </details>
    <details class="text-container">
      <summary>Grasas y aceites</summary>
      <p>En el último nivel se encuentran las grasas y aceites, que incluyen mantequilla, margarina, aceites de cocina y aderezos para ensaladas. Estos alimentos deben ser consumidos con moderación, ya que son ricos en calorías y grasas saturadas.</p>
    </details> 
  </div>
</div> 