.background-img {
  position: absolute;
  /* top: 0;
  left: 0; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.all {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.text-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  margin-top: 10px;
}

.tittle{
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.text { 
  margin-left: 120px;
} 

.text2{
  font-size: 20px;
}

.imga{
  float: left; 
  margin-left: 24px;
  padding: 20px   10px;
}