<img src="assets/images/home-log-out.jpg" class="background-img">

<div class="container">
  <img mat-card-image src="assets/images/piramide-realista.png" class="imga">
  <mat-accordion class="details">
    <mat-expansion-panel> 
      <mat-expansion-panel-header>
        <mat-panel-title> 
          Granos 
          <i class="fa-solid fa-wheat-awn fa-lg" style="color: #b89e19;"></i>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <p>La base de la pirámide alimenticia son los granos, que incluyen panes, cereales, arroz y pasta. Se recomienda consumir entre 6 y 11 porciones diarias, dependiendo de la edad, sexo y nivel de actividad física.</p>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> 
        Vegetales
        <i class="fa-solid fa-carrot fa-lg" style="color: #fa7000;"></i>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>En el segundo nivel se encuentran las verduras y hortalizas, que se recomienda consumir entre 3 y 5 porciones diarias. Estos alimentos son ricos en vitaminas, minerales y fibra, y pueden ser consumidos crudos, cocidos o en forma de jugos.</p>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> 
        Frutas 
        <i class="fa-solid fa-apple-whole fa-lg" style="color: #c90808;"></i>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>En el tercer nivel se encuentran las frutas, que también se recomienda consumir entre 2 y 4 porciones diarias. Las frutas son una excelente fuente de vitaminas, minerales y fibra, y pueden ser consumidas frescas, congeladas, enlatadas o secas.</p>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> 
        Lacteos 
        <i class="fa-solid fa-cheese fa-lg" style="color: #ffd06c;"></i>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>En el cuarto nivel se encuentran los productos lácteos, como la leche, el yogur y el queso. Se recomienda consumir entre 2 y 3 porciones diarias. Estos alimentos son una excelente fuente de calcio y otros nutrientes importantes para la salud ósea.</p>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> 
        Proteinas 
        <i class="fa-solid fa-fish fa-lg" style="color: #4187d2;"></i>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>En el quinto nivel se encuentran las proteínas, que incluyen carnes, pescados, aves, huevos, frijoles, nueces y semillas. Se recomienda consumir entre 2 y 3 porciones diarias, preferiblemente carnes magras y pescados.</p>
  </mat-expansion-panel>
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title> 
        Grasas y aceites 
        <i class="fa-solid fa-cookie fa-lg" style="color: #6f4b0b;"></i>
      </mat-panel-title>
      </mat-expansion-panel-header>
      <p>En el último nivel se encuentran las grasas y aceites, que incluyen mantequilla, margarina, aceites de cocina y aderezos para ensaladas. Estos alimentos deben ser consumidos con moderación, ya que son ricos en calorías y grasas saturadas.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
