<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title><strong>Actualizar perfil</strong></mat-card-title>
    <mat-card-content>
      <div class="container">
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Nombre: {{ previous_first_name }} </mat-label>
            <input matInput [(ngModel)]="user.first_name">
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Apellido: {{ previous_last_name }}</mat-label>
            <input matInput [(ngModel)]="user.last_name">
          </mat-form-field>
        </div>

        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Nombre de usuario: {{ previous_username }}</mat-label>
            <input matInput [(ngModel)]="user.username"> 
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Telefono: {{ previous_phone_number }}</mat-label>
            <input matInput [(ngModel)]="user.phone_number">
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Correo electrónico: {{ previous_email }}</mat-label>
          <input matInput placeholder="pat@example.com" [formControl]="email" required [(ngModel)]="user.email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> 
        </mat-form-field>

<!--         <div class="form-inputs">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
             <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div> -->

        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Genero: {{ previous_gender }}</mat-label>
             <mat-select [(ngModel)]="user.gender">
              <mat-option value="Mujer">Mujer</mat-option>
              <mat-option value="Hombre">Hombre</mat-option>
              <mat-option value="No binario">No binario</mat-option>
              <mat-option value="Otro">Otro</mat-option>
              <mat-option value="Prefiero no decirlo">Prefiero no decirlo</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento: {{ previous_birthdate }}</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthdate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-card class="inputFileCard">
          <mat-card-header> 
            <mat-card-title> Seleccionar imágen de perfil: </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <input class="inputFile" type="file" (change)="onFile($event)">
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card-content>
    <!--TODO: Añadir para confirmar contraseña-->
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="updateUser()">Actualizar</button>
      <button class="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>

