<p>sing-up works!</p>
<div class="form-sing-up">
  <p>nombre de usuario</p>
  <input [(ngModel)]="singUpUser.username" placeholder="nombre de usuario">
  <p>contraseña</p>
  <input [(ngModel)]="singUpUser.password" placeholder="contraseña">
  <p>correo electronico</p>
  <input [(ngModel)]="singUpUser.email" placeholder="correo electronico">
  <p>Nombres</p>
  <input [(ngModel)]="singUpUser.first_name" placeholder="Nombre">
  <p>Apellidos</p>
  <input [(ngModel)]="singUpUser.last_name" placeholder="Apellido">
  <p>Numero de telefono</p>
  <input [(ngModel)]="singUpUser.phone_number" placeholder="Numero de telefono">
  <p>Imagen</p>
  <input [(ngModel)]="singUpUser.profile_picture" placeholder="imagen de perfil">
  <p>Rol</p>
  <input [(ngModel)]="singUpUser.role" placeholder="Rol">
  <p></p>
  <button (click)="singUp()">Registrarse</button>
</div>