<footer class="footer mat-elevation-z2">
  <div class="container d-flex justify-content-between" >
    <div class="left-container col-md-4">
      <h5>Datos de contacto</h5>
      <i class="fa-solid fa-phone fa-lg" style="color: #07090e;"></i>
      <a class="subtext">Teléfono: 123-456-7890</a><br>
      <i class="fa-solid fa-envelope fa-lg" style="color: #000000;"></i>
      <a class="subtext">Correo electrónico: info@tudominio.com</a><br>
      <i class="fa-solid fa-paper-plane fa-lg" style="color: #000000;"></i>
      <a class="subtext">Dirección: Calle Principal 123, Ciudad, País</a><br>
    </div>
    <div class="right-container col-md-4">
      <h5>Redes sociales</h5>
      <i class="fa-brands fa-twitter fa-lg" style="color: #1473f0;"></i>
      <a href="#" class="subtext">Twitter</a><br>
      <i class="fa-brands fa-github fa-lg" style="color: #000000;"></i>
      <a href="#" class="subtext">GitHub</a><br>
      <i class="fa-brands fa-linkedin fa-lg" style="color: #1f3b6b;"></i>
      <a href="#" class="subtext">Linkedin</a><br>
    </div>
  </div>
</footer>

<!-- *ngIf="!isScreenSmall" -->

<!-- FALTA PONER LOS LINKS AQUÍ -->