footer {
  padding: 20px;
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: 60px!important;
  margin: 40px;
  bottom: 0!important;
  flex-wrap: wrap;
}

/* Estilos para pantallas más estrechas */
@media screen and (max-width: 767px) {
  .footer {
    font-size: 0.8rem;
    margin: 20px;
  }
}

/* Estilos para pantallas más anchas */
@media screen and (min-width: 768px) {
  .footer {
    font-size: 1rem;
  }
}

.border-top {
  --bs-border-opacity: 0.95;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

.fa-dumbbell {
  opacity: 80%;
  transition: transform 0.2s;
}

.fa-dumbbell:hover {
  transform: rotate(-45deg);
}

.text-body-secondary {
  font-size: 100%;
}

.fa-brands {
  padding: 2%;
  opacity: 80%;
}