<mat-toolbar color="primary" class="header">
  <mat-toolbar-row class="header-row">
    <i class="fa-solid fa-dumbbell fa-xl title" style="color: #000000;" routerLink="/"></i>
    <span class="title" routerLink="/">PRE-WORKOUT</span>
    <span class="spacer"></span>
    <!-- Botones principales ocultos en pantallas pequeñas -->
    <button class="button" mat-button routerLink="/" *ngIf="!isScreenSmall">Inicio</button>
    <button class="button" mat-button routerLink="/ejercicios" *ngIf="!isScreenSmall">Ejercicios</button>
    <button class="button" mat-button routerLink="/rutinas" *ngIf="!isScreenSmall">Rutinas</button>
    <button class="button" mat-button routerLink="/alimentacion" *ngIf="!isScreenSmall">Alimentación</button>
    <button class="button" mat-button routerLink="/mapa" *ngIf="!isScreenSmall">Mapa</button>
    <button class="button" mat-button routerLink="/asesoramiento" *ngIf="!isScreenSmall">Asesoramiento</button>
    <button class="button" mat-raised-button color="accent" routerLink="/sign-in" *ngIf="!isScreenSmall">Iniciar sesión</button>
    <button class="button" mat-raised-button color="accent" routerLink="/sign-up" *ngIf="!isScreenSmall">Registrarse</button>
   
    <button mat-icon-button [matMenuTriggerFor]="menu" class="fa-solid fa-bars fa-xl" style="color: #000000;" *ngIf="isScreenSmall"></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/ejercicios">Ejercicios</button>
      <button mat-menu-item routerLink="/rutinas">Rutinas</button>
      <button mat-menu-item routerLink="/alimentacion">Alimentación</button>
      <button mat-menu-item routerLink="/mapa">Mapa</button>
      <button mat-menu-item routerLink="/asesoramiento">Asesoramiento</button>
      <button mat-menu-item style="font-weight: bold;" routerLink="/sign-in">Iniciar sesión</button>
      <button mat-menu-item style="font-weight: bold;" color="accent" routerLink="/sign-up">Registrarse</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>