<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title><strong>Modificar un ejercicio</strong></mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Ejercicios</mat-label>
        <mat-select [(ngModel)]="exercise">
          <mat-option *ngFor="let exercise of exercises_filtered" [value]="exercise">
            {{exercise.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="exercise.name">
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Nombre del ejercicio</mat-label>
            <input matInput [(ngModel)]="exercise.name">
          </mat-form-field>
        </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Descripción corta</mat-label>
          <input matInput [(ngModel)]="exercise.short_description">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field class="text-input">
          <mat-label>Descripción larga</mat-label>
          <textarea matInput [(ngModel)]="exercise.long_description"></textarea>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Posición inicial</mat-label>
          <input matInput [(ngModel)]="exercise.initial_position">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Categoria</mat-label>
          <mat-select [(ngModel)]="exercise.category">
            <mat-option value="Hombros">Hombros</mat-option>
            <mat-option value="Piernas">Piernas</mat-option>
            <mat-option value="Brazos">Brazos</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>¿Equipamiento necesario?</mat-label>
          <mat-select [(ngModel)]="exercise.equipment_needed">
            <mat-option value="Si">Si</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="updateExercise()">Modificar</button>
      <button class="button" mat-raised-button color="warn" (click)="out()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>