
<img src="assets/images/home-log-out.jpg" class="background-img">
<div>
  <div class="text-container"> 
    <h1 class="tittle" > <strong> Dietas </strong> </h1>
    <h2 class="textDescrip">
      Consulta las dietas creadas por nuestros entrenadores y revisadas. se dispone de diversas dietas, clasificadas y con los apartados: 
      desayuno, media mañana, comida, merienda, cena. teniendo así dietas saludables y completas 
    </h2>
  </div>
  <div class="bottom_center">
  <button class="bottom-diet"  mat-raised-button color="accent" onclick="window.location.href = '/diets-list'">Dietas</button>
  </div>

  <div class="text-container">
  <h1 class="tittle" > <strong> Asesoramiento </strong> </h1>
  <h2 class="textDescrip">
    Recibe asesoramiento profesional para tener una dieta realizada 
    a medida  para ti
  </h2>
  </div>
  <div class="bottom_center">
  <button class="bottom-adviser"  mat-raised-button color="accent" onclick="window.location.href = '/adviser'">Asesoramiento</button>
  </div>

  
  <div class="text-container">
    <h1 class="tittle" > <strong> Informacion Nutricional </strong> </h1>
    <h2 class="textDescrip">
      Accede a la información nutricional
    </h2>
    </div>
    <div class="bottom_center">
    <button class="bottom-diet-info"  mat-raised-button color="accent" onclick="window.location.href = '/diets-info'">Informacion nutricional</button>
    </div>
</div>