.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.card-header {
  padding: 20px;
}

.card-img {
  height: 400px;
  object-fit: contain;
}

.card-content {
  padding: 20px;
}

.card {
  flex: 0 0 80%;
  margin: 20px;
}

@media (max-width: 992px) {
  /* Estilos para pantallas más pequeñas que 992px de ancho */
  .card {
    flex: 0 0 100%;
    margin: 20px;
  }

  button {
    font-size: 90%;
    width: 20%;
  }

  .error1 {
    font-size: 80%;
  }

  .error2 {
    font-size: 80%;
    padding-top: 8%;
  }
}

.comment {
  flex: 0 0 100%;
  margin: 20px;
}

mat-card-title {
  font-size: 120%;
  font-weight: bold;
  width: 100%;
}

mat-card-title,
mat-card-subtitle {
  margin: 3%;
}

.comment-card {
  width: 100%;
  margin: 2%;
}

.user-image {
  padding: 1%;
}

.comment-text {
  margin-left: 2%;
}

i {
  margin-left: 3%;
}

.equipment {
  margin-bottom: 2%;
}

.author {
  font-style: italic;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

textarea {
  flex: 0 0 90%;
  margin: 20px;
  width: 95%;
  height: 140px;
  padding: 10px;
  margin-bottom: 0;
}


mat-divider {
  width: 100%;
  margin: 2%;
  margin-top: 1%;
}

.fa-trash {
  padding: 30px;
}

.error1 {
  margin-left: 20px;
  margin-top: 0;
}

button {
  margin: 20px;
  width: 17%;
  padding: 25px;
}

.error2 {
  margin-top: 4.5%;
}

.button-container {
  display: flex;
  align-items: right;
  justify-content: right;
}

h2 {
  margin-left: 2%;
  margin-top: 2%;
}