<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title class="margin">Ingresa tus datos y preferencias para poder asesorarte:</mat-card-title>
    <mat-card-content>
      <div class="container" [formGroup]="form">
        <div>
          <mat-form-field>
            <mat-label>Categoría de Asesoramiento</mat-label>
            <mat-select formControlName="categoriaAsesoramiento">
              <mat-option value="one">Entrenamiento para bajada de peso y tonificación</mat-option>
              <mat-option value="two">Entrenamiento de fuerza y para aumentar masa muscular</mat-option>
              <mat-option value="three">Sesiones de trabajo para deportes específicos</mat-option>
              <mat-option value="four">Entrenamiento funcional</mat-option>
              <mat-option value="five">Mejora postural y recuperación de lesiones</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-inputs2">
            <mat-label>Explícanos tu problema</mat-label>
            <textarea matInput formControlName="problema"></textarea>
          </mat-form-field>
        </div>

        <div class="bottom_center">
          <button class="bottom-diet" mat-raised-button color="accent" [disabled]="form.invalid"  routerLink='/adviser_list'> Continuar </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>