<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title class="margin">Ingresa tus datos y preferencias para poder asesorarte:</mat-card-title>
    <mat-card-content>
      <div class="container" [formGroup]="form">
        <div>
          <mat-form-field>
            <mat-label>Categoría de Asesoramiento</mat-label>
            <mat-select formControlName="categoriaAsesoramiento">
              <mat-option value="one">Opción uno</mat-option>
              <mat-option value="two">Opción dos</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field class="form-inputs2">
            <mat-label>Explícanos tu problema</mat-label>
            <input matInput formControlName="problema">
          </mat-form-field>
        </div>

        <div class="bottom_center">
          <button class="bottom-diet" mat-raised-button color="accent" [disabled]="form.invalid" onclick="window.location.href = '/adviser_list'"> Continuar </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>