<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title><strong>Eliminar un dieta</strong></mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Dietas</mat-label>
        <mat-select [(ngModel)]="diet">
          <mat-option *ngFor="let diet of diets_filtered" [value]="diet">
            {{diet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="deleteDiet()">Eliminar</button>
      <button class="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>

