<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form" >
  <mat-card class="card">
    <mat-card-title><strong>Modificar una dieta</strong></mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Dietas</mat-label>
        <mat-select [(ngModel)]="diet">
          <mat-option *ngFor="let diet of diets_filtered" [value]="diet">
            {{diet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="diet.name">
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Nombre de la dieta</mat-label>
            <input matInput [(ngModel)]="diet.name">
          </mat-form-field>
        </div>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="diet.category">
              <mat-option value="Bajar de peso">Bajar de peso</mat-option>
              <mat-option value="Conseguir volumen">Conseguir volumen</mat-option>
            <mat-option value="Equilibrada">Equilibrada</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field class="text-input">
          <mat-label>Desayuno</mat-label>
          <textarea matInput [(ngModel)]="diet.breakfast"></textarea>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field class="text-input">
          <mat-label>Almuerzo</mat-label>
          <textarea matInput [(ngModel)]="diet.lunch"></textarea>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field class="text-input">
          <mat-label>Merienda</mat-label>
          <textarea matInput [(ngModel)]="diet.snacks"></textarea>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field class="text-input">
          <mat-label>Cena</mat-label>
          <textarea matInput [(ngModel)]="diet.dinner"></textarea>
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Descripción corta</mat-label>
          <input matInput [(ngModel)]="diet.short_description">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field class="text-input">
          <mat-label>Descripción larga</mat-label>
          <textarea matInput [(ngModel)]="diet.long_description"></textarea>
        </mat-form-field>
      </div>
      <mat-card class="inputFileCard">
        <mat-card-header> 
          <mat-card-title> Seleccionar la imágen de la dieta: </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <input class="inputFile" type="file" (change)="onFile($event)">
        </mat-card-content>
      </mat-card>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="updateDiet()">Modificar</button>
      <button class="button" mat-raised-button color="warn" (click)="out()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>

