<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title><strong>Modificar un gimnasio</strong></mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Gimnasios</mat-label>
        <mat-select [(ngModel)]="gym">
          <mat-option *ngFor="let gym of gyms_filtered" [value]="gym">
            {{gym.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="container">
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Nombre del gimnaso</mat-label>
            <input matInput [(ngModel)]="gym.name">
          </mat-form-field>
        
          <mat-form-field>
            <mat-label>Telefono de contacto</mat-label>
            <input matInput [(ngModel)]="gym.phone_number">
          </mat-form-field>
        </div>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Ubicación: Latitud</mat-label>
          <input matInput [(ngModel)]="gym.latitude">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Ubicación: Longitud</mat-label>
          <input matInput [(ngModel)]="gym.longitude">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Dirección</mat-label>
          <input matInput [(ngModel)]="gym.address">
        </mat-form-field>
      </div>
      <div class="form-inputs">
        <mat-form-field>
          <mat-label>Sitio web</mat-label>
          <input matInput [(ngModel)]="gym.website">
        </mat-form-field>
      </div>
      <p>Horario</p>
      <div *ngIf="gym.schedule">
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Lunes</mat-label>
            <input matInput [(ngModel)]="gym.schedule.monday">
          </mat-form-field>
        </div>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Martes</mat-label>
            <input matInput [(ngModel)]="gym.schedule.tuesday">
          </mat-form-field>
        </div>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Miercoles</mat-label>
            <input matInput [(ngModel)]="gym.schedule.wednesday">
          </mat-form-field>
        </div>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Jueves</mat-label>
            <input matInput [(ngModel)]="gym.schedule.thursday">
          </mat-form-field>
        </div>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Viernes</mat-label>
            <input matInput [(ngModel)]="gym.schedule.friday">
          </mat-form-field>
        </div>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Sabado</mat-label>
            <input matInput [(ngModel)]="gym.schedule.saturday">
          </mat-form-field>
        </div>
        <div class="form-inputs">
          <mat-form-field>
            <mat-label>Domingo</mat-label>
            <input matInput [(ngModel)]="gym.schedule.sunday">
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="updateGym()">Modificar</button>
      <button class="button" mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</div>