<div>
  <img src="assets/images/home-log-out.jpg" class="background-img">
</div>

<div class="form">
  <mat-card class="card">
    <mat-card-title>Eliminar un gimnasio</mat-card-title>
    <mat-card-content>
      <p>Escoger gimnasio</p>
      <mat-form-field>
        <mat-label>Gimnasio</mat-label>
        <mat-select [(ngModel)]="gym">
          <mat-option *ngFor="let gym of gyms" [value]="gym">
            {{gym.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-raised-button color="primary" (click)="deleteGym()">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div>
